html {
	touch-action: manipulation;
}

body {
	background-color: #EEEEEE;

	font-size: 16px;
}

#resultDialog {
	position: absolute;
	top: 50px;
	left: 50px;

	width: 600px;
	height: 800px;
}

#output {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 600px;
	height: 700px;
}

#tweetButton {
	position: absolute;
	top: 730px;
	left: 30px;
	width: 100px;
	height: 50px;
}

#creditButton {
	position: absolute;
	top: 400px;
	left: 300px;
	width: 70px;
	height: 50px;	
}

#level1 {
	position: absolute;
	top: 730px;
	left: 170px;
	width: 70px;
	height: 50px;
}

#level2 {
	position: absolute;
	top: 730px;
	left: 260px;
	width: 70px;
	height: 50px;
}

#level3 {
	position: absolute;
	top: 730px;
	left: 350px;
	width: 70px;
	height: 50px;
}

#level4 {
	position: absolute;
	top: 730px;
	left: 440px;
	width: 70px;
	height: 50px;
}

#level5 {
	position: absolute;
	top: 730px;
	left:530px;
	width: 70px;
	height: 50px;
}

#progressBar {
	position: absolute;
	top: 100px;
	left: 30px;
}

.card {
  width: 100px;
  height: 100px;
  perspective: 1000px; /* 3D視点を指定 */
}

.inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d; /* 3D変形の維持 */
  transition: transform 1.0s ease; /* トランジションの設定 */
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* 裏面の非表示 */
}

.back {
  transform: rotateY(180deg); /* 裏面を180度回転させる */
}

.flipped .inner {
  transform: rotateY(180deg);
}

#creditDialogClose {
	position: absolute;
	top: 0px;
	right: 0px;
}

#errorMessage {
	position: absolute;
	top: 800px;
	left: 0px;
	width: 1000px;
	height: 1000px;
}
